*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #3d7195;
}
form {
    display: flex;
    justify-content: center;
    gap: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 190px;
    margin: 16px;
    

}

li:hover {
    background-color: #e9ecef;
}

li.completed {
    text-decoration: line-through;
    color: #6c757d;
}
h1{
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color:#3d7195 ;
    z-index: 1000px;
    text-align: center;
}
input{
    top: 200px;
    left: 910px;
    width: 250px;
    padding: 10px;
    margin: 0;
    text-align: center;
    border: none;
    border-radius: 15px;
    margin-top: 175px;
}
button{
    top: 250px;
    left: 970px;
    width: 123px;
    height: 34px;
    border-radius: 13px;
    margin-top: 178px;
border: none;
}
#task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
}

#task-list li {
    padding: 10px; /* Espaçamento interno para cada item */
    margin: -55px 0; /* Espaçamento vertical entre os itens */
    border: 1px solid #ddd; /* Adiciona uma borda ao redor de cada item */
    width: 80%; /* Define a largura dos itens como 80% da largura do contêiner */
    text-align: center; /* Centraliza o texto dentro de cada item */
    margin-top: 59px;
    margin-left: -18px;
}
#task-list li.completed {
    text-decoration: line-through; /* Risca o texto do item */
    color: gray; /* Opcional: muda a cor do texto para cinza */
}



